@model List<Model.Alumno>
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="well well-sm">
        <div class="row">
            <div class="col-xs-10">
                <h2>Alumnos</h2>
            </div>
            <div class="col-xs-2 text-right">
                <a class="btn btn-primary" href="~/home/AgregarAlumno">Nuevo registro</a>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nombres</th>
                <th>Documento</th>
                <th>Telefono</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model)
            {
            <tr>
                <td>@a.Nombres</td>
                <td>@a.Documento</td>
                <td>@a.Telefono</td>
                <td class="text-right">
                    <a class="btn btn-default btn-success" href="/home/VerAlumno/@a.Id">Visualizar</a>
                    <a class="btn btn-default btn-warning" href="/home/AgregarAlumno/@a.Id">Editar Alumno</a>
                    <a class="btn btn-default btn-danger" href="/home/EliminarAlumno/@a.Id">Retirar Alumno</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>